<div class="login animated fast fadeIn">
    <div class="row justify-content-center">
        <div class="card dark-three">
            <div class="card-body">
                <h2 class="mb-3">Iniciar sesión con</h2>
                <div class="row">
                    <div class="col-6">
                        <button (click)="login('google')" class="btn btn-block btn-outline-danger" type="button">
                            Google
                        </button>
                    </div>
                    <div class="col-6">
                        <button (click)="login('facebook')" class="btn btn-block btn-outline-danger" type="button">
                            Facebook
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>